#legend{
font-size: 0.85em;
position: absolute;
display: grid;
grid-template-columns: repeat(5,max-content);
margin-top: -4em;
z-index: 3000; 
padding: 0.8em;
background: hsla(0,0%,100%,.95) border-box;
overflow: hidden;
border-radius: .3em;
box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
            0 .5em 1em rgba(0, 0, 0, 0.3);
text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
left: 800px;
top: 200px;
}

.wrapper{
  display: flex;;
}

#legend > span  {
margin-top: 0.44em;
padding: 0 0.6em
  
}



@media only screen and (max-width: 1024px) {

#legend{
  left: 0;
  top: 0;
  position: relative;
  margin-top: -10em;
}
.wrapper{
  display: block;
}
}







